.AdminHeader{
    height:10%;
    width:100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border-bottom: solid 1px lightgray;
    background-color: black;
}

.AdminHeader__logo{
    width:100px;
    height:100px;
}

.AdminHeader__button{
    padding:10px 20px;
    margin-right: 15px;
    width:100px;
    height:50px;
}

