.DashScreen{
    position:relative;

    justify-content: center;
}
.DashBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.DashTableBody{
    width:100%;
}
.DashMainBody{

    
}