
.Home{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.Home__background{
    width:100%;
    height:100%;
}
.Home__background >img{
    width:100%;
    height:100%;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1.0),rgba(0,0,0,0.3));
    z-index: -1;
    margin-bottom: -250px;
}